@charset "UTF-8";
html,body {
	background-color: #FFFFFF;
	margin: 0px;
}

.head {
	position: relative;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background:  rgb(42, 42, 85);
	text-align: center;
}
.head .title-section{
	float:center;
	margin-right:-15%;
}
.head .user-section{
	width:15%;
	float:right;
	font-size:10px;
}
.head .user-button{
	padding:5px;
}
.head a{
	color:white;
	text-decoration:none;
}
.head a:hover{
	color:white;
	text-decoration:underline;
}
.head a.title-button{
	font-family: Noto Sans CJK KR;
	font-weight: bold;
}
.head a.user-button{
	font-weight: normal;
}
.head span {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 43px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}