@charset "EUC-KR";

* {

}

body {
		
}

.myPage {
	background-color : white;
	width : 90%;
	height : 100%;
	position:absolute;
	margin-top : 10%;
	margin-left : 5%;
	border-radius:15px;
}

.myTitle{
	width : 25%;
	color : #333344;
	font-style: italic;
	font-weight: bold;
	font-size: 50px;
	fsont-family: Arial;
	margin-left : 5%;
	margin-top : 3%;
	padding-bottom : 10px;
	border-bottom: 3px solid #333344;
	
}

.myImg {
	width : 300px;
	height : 300px;
	margin-left : 5%;
	margin-top : 5%;
	float : left;
}

.username {
	color : #333344;
	float : right;
	font-style: italic;
	font-size : 60px;
	font-weight: bold;
	font-family : Arial;
	margin-right : 35%;
	margin-top : 10%;
}

.myBtnGroup {
	margin-top : 30%;
	margin : 0 auto;
	width: 90%;
}

.myBtn1 {
	background-color : #333344;
	width: 500px;
	height : 230px;
	border-radius : 9px;
	float : left;
}

.myBtn2 {
	background-color : #333344;
	width: 500px;
	height : 230px;
	float : left;
	margin-left : 5%;
	margin-right : 5%;
	border-radius : 9px;
}

.myBtn3 {
	background-color : #333344;
	width: 500px;
	height : 230px;
	float : left;
	border-radius : 9px;
}

label {
	color : #ffffff;
	font-size : 30px;
	font-weight : bold;
	font-family : Arial;
	margin-top : 10px;
}

.deleteInfo {
	color : #BABABA;
}