@charset "EUC-KR";


.review{
	background-color: white;
	width:85%;
	height:100%;
	position:absolute;
	margin:5%;
	margin-top:200px;
	z-index:2;
	padding: 2.5%;
	display:block;
	border-radius:10px;
}
.review-title{
	width:40%;
	font-family: Roboto;
	font-style: italic;
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
	align-items: center;
	text-align: left;
	letter-spacing: -0.02em;
	margin:5px;
	color: #333344;
	border-bottom: 6px solid #333344;
}
.review-content{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 35px;
	margin:20px;
	color: #333344;
}

/* table - 후기 내용 */
#review_review {
   width: 50%;
}
/* table - 작성자 */
#review_writer {
   width: 15%;
}
/* table - 날짜 */
#review_date {
   width: 15%;
}
/* table - 수정 버튼 */
#review_change {
   width: 10%;
}
/* table - 삭제 버튼 */
#review_delete {
   width: 10%;
}
