@charset "UTF-8";

.trend{
	background-color: white;
	width:85%;
	height:100%;
	position:absolute;
	margin:5%;
	margin-top:200px;
	z-index:2;
	padding: 2.5%;
	display:block;
	border-radius:10px;
}
.trend-title{
	width:40%;
	font-family: Roboto;
	font-style: italic;
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
	align-items: center;
	text-align: left;
	letter-spacing: -0.02em;
	margin:5px;
	color: #333344;
	border-bottom: 6px solid #333344;
}
.make-content{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 35px;
	margin:20px;
	color: #333344;
	
}

input[type="text"]{
	
}